@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* me */
body {
  display: flex;
  flex-direction: column;
}

button {
  padding: 8px 16px;
}

.content {
  flex: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: gray;
  /* margin: 8px; */
}

.header,
.footer {
  display: flex;
  padding: 16px;
  justify-content: space-between;
}

.footer {
  background-color: #eee;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  display: flex;
}

/*
ul {
  list-style: none;
  display: flex;
}

.header {
  display: flex;
}

.footer {
  background-color: #eee;
  justify-self: flex-end;
  display: flex;
}

.left-links {
  margin-right: auto;
}

.right-links {
  margin-left: auto;
}*/